
<!------------------------------------ 
-	Si el usuario esta registrado    -
------------------------------------->

<div *ngIf="identidad" class="navigation col-lg-1">
	<h1>
  		{{title}}
	</h1>	
</div>

<div class="clearfix"></div>

<div *ngIf="identidad" class="central col-lg-11">
	<p>Hola XxXxXxX</p>
</div>

<!-------------------------------------- 
-	Si el usuario no esta registrado   -
--------------------------------------->

<div *ngIf="!identidad" class="container mt-2">
	<div class="row">

<!-- Seccion Identifícate -->
		<div class="col-6">
			<div class="m-3 text-center">
				<button type="button" class="btn btn-outline-success fs-2" data-bs-toggle="collapse" href="#formularioIdentificateEscondido">Identifícate</button>		
			</div>
			
			<form id="formularioIdentificateEscondido" class="collapse">
				<div class="form-floating mb-3 bg-light" >
				 	<input type="email" class="form-control" placeholder="nombre@ejemplo.es">
				  	<label for="floatingInput">Correo electrónico</label>
				</div>
				<div class="form-floating mb-3">
					<input type="password" class="form-control" placeholder="Contraseña">
				  	<label for="floatingPassword">Contraseña</label>
				</div>
				<div class="form-floating text-center">
					<input type="submit" class="btn btn-outline-primary  fw-bolder font-monospace" name="" value="Enviar">
				</div>
			</form>
		</div>

<!-- Seccion Registrate -->		
		<div class="col-6">
			<div class="m-3 text-center">
				<button type="button" class="btn btn-outline-secondary fs-2" data-bs-toggle="collapse" href="#formularioRegistrateEscondido">Registrate</button>	
			</div>
			
			<form id="formularioRegistrateEscondido" class="collapse">

				<div class="form-floating mb-3 bg-light">
				 	<input type="text" class="form-control" placeholder="Nombre">
				  	<label for="floatingInput">Nombre</label>
				</div>
				<div class="form-floating mb-3">
					<input type="text" class="form-control" placeholder="Apellidos">
				  	<label for="floatingPassword">Apellidos</label>
				</div>
				<div class="form-floating mb-3">
					<input type="email" class="form-control" placeholder="nombre@ejemplo.es">
				  	<label for="floatingPassword">Email</label>
				</div>
				<div class="form-floating mb-3">
					<input type="password" class="form-control" placeholder="Contraseña">
				  	<label for="floatingPassword">Contraseña</label>
				</div>
				<div class="mb-3 text-center">
					<label for="floatingPassword" class="mb-3 fs-5">Imagen de Usuario</label>
					<input class="form-control" type="file" id="formFile">
				</div>

				<div class="form-floating mb-3 text-center">
					<input type="submit" class="btn btn-outline-primary mt-4 fw-bolder font-monospace" name="" value="Enviar">
				</div>

			</form>
		</div>




	</div>
</div>
