@font-face {
	font-family: 'syncfusionlayout';
	font-style: normal;
	font-weight: normal;
	src: url('/content/stylesheets/components/Stack1.3.7/fonts/layoutfont.eot');
	src: url('/content/stylesheets/components/Stack1.3.7/fonts/layoutfont.eot') format('embedded-opentype'),
		url('/content/stylesheets/components/Stack1.3.7/fonts/layoutfont.ttf') format('truetype'),
		url('/content/stylesheets/components/Stack1.3.7/fonts/layoutfont.woff') format('woff'),
		url('/content/stylesheets/components/Stack1.3.7/fonts/layoutfont.svg') format('svg');
}
[class^="syncfusionlayout-"], [class*=" syncfusionlayout-"]{font-family:'syncfusionlayout' !important;speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.syncfusionlayout-logo:before{content:"\e900";}
.icon-11:before{content:"\e901";}
.icon-12:before{content:"\e902";}
.icon-13:before{content:"\e903";}
.icon-14:before{content:"\e904";}
.icon-15:before{content:"\e905";}
.syncfusionlayout-product-download:before{content:"\e906";color:#ee7715;}
.icon-17:before{content:"\e907";}
.icon-18:before{content:"\e908";}
.syncfusionlayout-down-arow:before{content:"\e909";}
.syncfusionlayout-search:before{content:"\e90a";}
.syncfusionlayout-cart:before{content:"\e90b";}